<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1367},{53,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,34}}</string>
                <key>sourceSize</key>
                <string>{53,34}</string>
            </dict>
            <key>fonts/Font30.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1550},{250,158}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{250,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fonts/MyFont.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{246,96}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{246,96}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1367},{50,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,41}}</string>
                <key>sourceSize</key>
                <string>{50,41}</string>
            </dict>
            <key>guide_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1367},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ispass_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1045},{61,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,17}}</string>
                <key>sourceSize</key>
                <string>{61,17}</string>
            </dict>
            <key>ispass_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1045},{59,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,17}}</string>
                <key>sourceSize</key>
                <string>{59,17}</string>
            </dict>
            <key>level_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,672},{130,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,55}}</string>
                <key>sourceSize</key>
                <string>{130,55}</string>
            </dict>
            <key>level_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,804},{130,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,55}}</string>
                <key>sourceSize</key>
                <string>{130,55}</string>
            </dict>
            <key>level_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,136},{130,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,56}}</string>
                <key>sourceSize</key>
                <string>{130,56}</string>
            </dict>
            <key>level_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1424},{131,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,54}}</string>
                <key>sourceSize</key>
                <string>{131,54}</string>
            </dict>
            <key>level_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1290},{130,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,54}}</string>
                <key>sourceSize</key>
                <string>{130,54}</string>
            </dict>
            <key>level_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{132,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,56}}</string>
                <key>sourceSize</key>
                <string>{132,56}</string>
            </dict>
            <key>level_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,268},{133,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,55}}</string>
                <key>sourceSize</key>
                <string>{133,55}</string>
            </dict>
            <key>level_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1290},{132,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,53}}</string>
                <key>sourceSize</key>
                <string>{132,53}</string>
            </dict>
            <key>level_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1356},{132,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,54}}</string>
                <key>sourceSize</key>
                <string>{132,54}</string>
            </dict>
            <key>level_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,538},{132,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,55}}</string>
                <key>sourceSize</key>
                <string>{132,55}</string>
            </dict>
            <key>level_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1424},{132,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,54}}</string>
                <key>sourceSize</key>
                <string>{132,54}</string>
            </dict>
            <key>level_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1290},{132,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,54}}</string>
                <key>sourceSize</key>
                <string>{132,54}</string>
            </dict>
            <key>level_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,936},{130,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,55}}</string>
                <key>sourceSize</key>
                <string>{130,55}</string>
            </dict>
            <key>level_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,403},{133,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,55}}</string>
                <key>sourceSize</key>
                <string>{133,55}</string>
            </dict>
            <key>level_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1224},{130,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,55}}</string>
                <key>sourceSize</key>
                <string>{130,55}</string>
            </dict>
            <key>level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1068},{154,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,60}}</string>
                <key>sourceSize</key>
                <string>{154,60}</string>
            </dict>
            <key>logo_zhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1490},{345,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,100}}</string>
                <key>sourceSize</key>
                <string>{345,100}</string>
            </dict>
            <key>main_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,324},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>main_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>main_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1490},{320,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,314}}</string>
                <key>sourceSize</key>
                <string>{320,314}</string>
            </dict>
            <key>main_menubox.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1368},{118,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,38}}</string>
                <key>sourceSize</key>
                <string>{118,38}</string>
            </dict>
            <key>menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,646},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>menu_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1750},{143,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,28}}</string>
                <key>sourceSize</key>
                <string>{143,28}</string>
            </dict>
            <key>menuword.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1368},{110,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,146}}</string>
                <key>sourceSize</key>
                <string>{110,146}</string>
            </dict>
            <key>menuword/menuword_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,1490},{106,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{106,29}}</string>
                <key>sourceSize</key>
                <string>{110,29}</string>
            </dict>
            <key>menuword/menuword_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1780},{110,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,27}}</string>
                <key>sourceSize</key>
                <string>{110,29}</string>
            </dict>
            <key>menuword/menuword_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1367},{110,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,30}}</string>
                <key>sourceSize</key>
                <string>{110,30}</string>
            </dict>
            <key>menuword/menuword_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1612},{108,27}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,27}}</string>
                <key>sourceSize</key>
                <string>{110,29}</string>
            </dict>
            <key>menuword/menuword_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1550},{108,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,29}}</string>
                <key>sourceSize</key>
                <string>{110,29}</string>
            </dict>
            <key>menuword/menuword_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1456},{106,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{106,29}}</string>
                <key>sourceSize</key>
                <string>{110,29}</string>
            </dict>
            <key>menuword/menuword_back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1780},{110,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,27}}</string>
                <key>sourceSize</key>
                <string>{110,29}</string>
            </dict>
            <key>menuword/menuword_back_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1424},{110,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,30}}</string>
                <key>sourceSize</key>
                <string>{110,30}</string>
            </dict>
            <key>menuword/menuword_back_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1750},{108,27}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,27}}</string>
                <key>sourceSize</key>
                <string>{110,29}</string>
            </dict>
            <key>menuword/menuword_back_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1581},{108,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,29}}</string>
                <key>sourceSize</key>
                <string>{110,29}</string>
            </dict>
            <key>menuword_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1598},{110,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,146}}</string>
                <key>sourceSize</key>
                <string>{110,146}</string>
            </dict>
            <key>num.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1641},{168,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{168,24}}</string>
                <key>sourceSize</key>
                <string>{170,30}</string>
            </dict>
            <key>num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1550},{257,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,50}}</string>
                <key>sourceSize</key>
                <string>{257,50}</string>
            </dict>
            <key>p_00_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1598},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>p_01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1064},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>p_02_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,968},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>p_03_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1216},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>p_04_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1641},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>p_05_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,968},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>p_06_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1290},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>p_07_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1120},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>p_08_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1290},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>p_09_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1272},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>p_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1598},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>p_11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1710},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1068},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>set_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,968},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Huarongdao.png</string>
            <key>size</key>
            <string>{1024,1811}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa36868bbc24993d089b4860eab66dae:2bacebeb954b68272b7cda57bda74dd3:fa623b51ae65d0e8b00be44b28776747$</string>
            <key>textureFileName</key>
            <string>Huarongdao.png</string>
        </dict>
    </dict>
</plist>
