<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,499},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{53,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,34}}</string>
                <key>sourceSize</key>
                <string>{53,34}</string>
            </dict>
            <key>gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{50,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,41}}</string>
                <key>sourceSize</key>
                <string>{50,41}</string>
            </dict>
            <key>guide_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,981},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ispass_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{61,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,17}}</string>
                <key>sourceSize</key>
                <string>{61,17}</string>
            </dict>
            <key>ispass_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{59,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,17}}</string>
                <key>sourceSize</key>
                <string>{59,17}</string>
            </dict>
            <key>level_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,154},{130,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,55}}</string>
                <key>sourceSize</key>
                <string>{130,55}</string>
            </dict>
            <key>level_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{130,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,55}}</string>
                <key>sourceSize</key>
                <string>{130,55}</string>
            </dict>
            <key>level_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,154},{130,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,56}}</string>
                <key>sourceSize</key>
                <string>{130,56}</string>
            </dict>
            <key>level_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,212},{131,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,54}}</string>
                <key>sourceSize</key>
                <string>{131,54}</string>
            </dict>
            <key>level_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,154},{130,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,54}}</string>
                <key>sourceSize</key>
                <string>{130,54}</string>
            </dict>
            <key>level_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,212},{132,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,56}}</string>
                <key>sourceSize</key>
                <string>{132,56}</string>
            </dict>
            <key>level_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,270},{133,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,55}}</string>
                <key>sourceSize</key>
                <string>{133,55}</string>
            </dict>
            <key>level_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{132,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,53}}</string>
                <key>sourceSize</key>
                <string>{132,53}</string>
            </dict>
            <key>level_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,212},{132,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,54}}</string>
                <key>sourceSize</key>
                <string>{132,54}</string>
            </dict>
            <key>level_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,212},{132,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,55}}</string>
                <key>sourceSize</key>
                <string>{132,55}</string>
            </dict>
            <key>level_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,212},{132,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,54}}</string>
                <key>sourceSize</key>
                <string>{132,54}</string>
            </dict>
            <key>level_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,212},{132,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,54}}</string>
                <key>sourceSize</key>
                <string>{132,54}</string>
            </dict>
            <key>level_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,154},{130,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,55}}</string>
                <key>sourceSize</key>
                <string>{130,55}</string>
            </dict>
            <key>level_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,270},{133,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,55}}</string>
                <key>sourceSize</key>
                <string>{133,55}</string>
            </dict>
            <key>level_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,154},{130,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,55}}</string>
                <key>sourceSize</key>
                <string>{130,55}</string>
            </dict>
            <key>level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,981},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,422},{154,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,60}}</string>
                <key>sourceSize</key>
                <string>{154,60}</string>
            </dict>
            <key>logo_zhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1945},{345,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,100}}</string>
                <key>sourceSize</key>
                <string>{345,100}</string>
            </dict>
            <key>main_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,499},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>main_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1463},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>main_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1463},{320,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,314}}</string>
                <key>sourceSize</key>
                <string>{320,314}</string>
            </dict>
            <key>main_menubox.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,154},{118,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,38}}</string>
                <key>sourceSize</key>
                <string>{118,38}</string>
            </dict>
            <key>menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,981},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>menu_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,270},{143,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,28}}</string>
                <key>sourceSize</key>
                <string>{143,28}</string>
            </dict>
            <key>menuword1.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,2},{110,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,146}}</string>
                <key>sourceSize</key>
                <string>{110,146}</string>
            </dict>
            <key>menuword_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{110,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,29}}</string>
                <key>sourceSize</key>
                <string>{110,29}</string>
            </dict>
            <key>menuword_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{110,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,146}}</string>
                <key>sourceSize</key>
                <string>{110,146}</string>
            </dict>
            <key>menuword_back_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,154},{110,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,29}}</string>
                <key>sourceSize</key>
                <string>{110,29}</string>
            </dict>
            <key>num.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,422},{170,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,30}}</string>
                <key>sourceSize</key>
                <string>{170,30}</string>
            </dict>
            <key>num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,422},{257,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,50}}</string>
                <key>sourceSize</key>
                <string>{257,50}</string>
            </dict>
            <key>p_00_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,270},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>p_01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>p_02_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,270},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>p_03_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>p_04_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,270},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>p_05_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>p_06_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>p_07_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>p_08_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,422},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>p_09_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{75,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,150}}</string>
                <key>sourceSize</key>
                <string>{75,150}</string>
            </dict>
            <key>p_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,422},{150,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>sourceSize</key>
                <string>{150,75}</string>
            </dict>
            <key>p_11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,2},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>set_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1463},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Huarongdao2.png</string>
            <key>size</key>
            <string>{1045,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c72a6ba0873470639288ba79ae5dcbb:d2f676857253a2a58a2b730ae937a5fa:09076da28ec4355f1ee9b558bfa85d6b$</string>
            <key>textureFileName</key>
            <string>Huarongdao2.png</string>
        </dict>
    </dict>
</plist>
